<!-- addresses -->
<div class="row">
    <div class="col-12 col-md-6 col-lg-4 mx-auto ">
        <div class="row mb-4">
            <div class="col-auto align-self-center">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="payment" id="payment2" checked>
                    <label class="form-check-label text-muted" for="payment2"></label>
                </div>
            </div>
            <div class="col">
                <p class="mb-2"><strong>Maxartkiller Inc.</strong></p>
                <p class="text-muted mb-2">265 B, Arohhi Appartment, Bhuvaladi baug, Raipur,<br>Rajasthan
                    652841
                    (IN)</p>
                <p><a routerLink="/addaddresses" class="btn btn-sm btn-link">Edit</a> <a routerLink="" class="btn btn-sm btn-link text-danger">Remove</a></p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-auto align-self-center">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="payment" id="payment1" checked>
                    <label class="form-check-label text-muted" for="payment1"></label>
                </div>
            </div>
            <div class="col">
                <p class="mb-2"><strong>Johnson Desai</strong></p>
                <p class="text-muted mb-2">154 C, Denny Appartment, Bhuvaladi Square, Lincoln Street,<br>Brazil
                    652841 (US) </p>
                <p><a routerLink="/addaddresses" class="btn btn-sm btn-link">Edit</a> <a routerLink="" class="btn btn-sm btn-link text-danger">Remove</a></p>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="row mb-4">
    <div class="col-12 col-md-6 col-lg-4 mx-auto d-grid">
        <a routerLink="/addaddresses" class="btn btn-primary">
            Add New Address <i class="bi bi-arrow-right mx-1"></i>
        </a>
    </div>
</div>