<div class="container footer-info" style="background-color: #dec074; height: 75px;">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive='active'>
                <span>
                    <i class="nav-icon bi bi-house"></i>
                    <span class="nav-text">Home</span>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/bookinghistory" routerLinkActive='active'>
                <span>
                    <i class="nav-icon bi bi-calendar-check"></i>
                    <span class="nav-text">Booking List</span>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/profileqr" routerLinkActive='active'>
                <span>
                    <i class="nav-icon fa fa-qrcode"></i><br>
                    <span class="nav-text">QR</span>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/birthdayrewardshome" routerLinkActive='active'>
                <span>
                    <i class="nav-icon bi bi-gift"></i><br>
                    <span class="nav-text">My Rewards</span>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/spinpage" routerLinkActive='active'>
                <span>
                    <i class="nav-icon bi bi-controller"></i> <br>
                    <span class="nav-text">Lucky Spin</span>
                </span>
            </a>
        </li>
    </ul>
</div>

