<div class="row h-100">
    <div class="col-10 col-md-6 col-lg-5 col-xl-3 mx-auto mt-auto pt-4 text-center mb-100px">
        <h3 class="mb-1">Reset your password</h3>
        <p class="text-muted mb-4">Change your desired password<br>and confirm it.</p>
        <form class=" d-grid gap-2">
            <div class="form-group form-floating is-valid">
                <input type="password" class="form-control" value="1546828" id="email" placeholder="New Password">
                <label class="form-control-label" for="email">New Password</label>
            </div>

            <div class="form-group form-floating is-invalid">
                <input type="password" class="form-control " id="password" placeholder="Confirm Password">
                <label class="form-control-label" for="password">Confirm Password</label>
                <button type="button" class="btn btn-link text-danger tooltip-btn" data-bs-toggle="tooltip"
                    data-bs-placement="left" title="Enter valid Password" id="passworderror">
                    <i class="bi bi-info-circle"></i>
                </button>
            </div>
            <a routerLink="/thankyou" target="_self" class="btn btn-lg btn-default btn-block mt-3">Change Password</a>
        </form>
        <a routerLink="/signin" target="_self" class="text-white btn btn-lg btn-link">Already have password?</a>
    </div>
</div>