<h2 mat-dialog-title style="color: white;">{{event['eventname']}}</h2>
<h2 mat-dialog-subtitle style="color: white;">Host: {{event['eventhost']}}</h2>
<div mat-dialog-content>
  <button style="width: 100%;padding: 5px;outline: none;border: 2px solid #dec074;
  background-color: transparent;">
    <div class="row" (click) = "whatsapp()">
      <div class="col-auto align-self-center">
        <i class="bi bi-whatsapp text-success" style="font-size: 20px;"></i>
      </div>
      <div class="col px-0" style="padding-top: 10px;text-align: left;">
          <p style="font-size: 18px; color: #dec074;">{{event['whatsapp']}}</p>          
      </div>
    </div>
  </button>
  <button style="width: 100%;margin-top: 10px; padding: 5px;outline: none;border: 2px solid #dec074;
  background-color: transparent;">
    <div class="row">
      <div class="col-auto align-self-center">
        <i class="bi bi-envelope text-primary" style="font-size: 20px;"></i>
      </div>
      <div class="col px-0" style="padding-top: 10px;text-align: left;">
        <a href ="mailto:{{event['email']}}" style="text-decoration: none;">
          <p style="font-size: 18px; color: #dec074;word-break: break-all;">{{event['email']}}</p>
        </a>
      </div>
    </div>
  </button>
  <button style="width: 100%;margin-top: 10px; padding: 10px;outline: none;border: 2px solid #dec074;
  background-color: transparent;">
    <div class="row">
      <div class="col-auto align-self-center">
        <i class="bi bi-telephone" style="font-size: 20px;color: #dec074;"></i>
      </div>
      <div class="col px-0" style="padding-top: 10px;text-align: left;">
        <a href ="tel:{{event['contact']}}" style="text-decoration: none;">
          <p style="font-size: 18px; color: #dec074;">{{event['contact']}}</p></a>
      </div>
    </div>
  </button>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close style="outline: none;border: none; width: 100%; background-color: #dec074;padding: 10px;">Close</button>
</div>