<div class="row h-100">
    <div class="col-10 col-md-6 col-lg-5 col-xl-3 mx-auto mt-auto pt-4 text-center mb-100px d-grid gap-2">
        <h3 class="mb-1">One step away</h3>
        <p class="text-muted mb-4">We have sent 6-digit OTP<br>to your provided email address</p>

        <div class="form-floating is-valid">
            <input type="text" class="form-control" value="123456" placeholder="Enter OTP" id="otp">
            <label for="otp">Enter OTP</label>
        </div>
        <a routerLink="/thankyou" target="_self" class="btn btn-lg btn-default btn-block mt-3">Verify</a>
        <a routerLink="/verify" target="_self" class="text-white btn btn-lg btn-link">Didn't received? Resend
            Now!</a>
    </div>
</div>