.row
{
    --bs-gutter-x:0rem;
}

::ng-deep .container-fluid
{
    padding-right:var(--bs-gutter-x, 0rem) !important;
    padding-left:var(--bs-gutter-x, 0rem) !important;
}

button {
    background-color: #dec074;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    color: black;
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .mybutton
  {
      padding-top: 50px;
      font-size: 18px;
  }
