<h2 mat-dialog-title style="color: white;">Are you sure want to logout?</h2>
<div mat-dialog-content>
  <button style="width: 25%; float: left; padding: 5px; margin-right: -350px; outline: none; border: 2px solid #dec074;
  background-color: transparent;">
    <div class="row">
      <div class="col px-0" style="padding-top: 10px;text-align: center;">
          <p (click)='logout()' style="font-size: 18px; color: #dec074;">Yes</p>
      </div>
    </div>
  </button>
  <button style="width: 25%; float: right; padding: 5px;outline: none;border: 2px solid #dec074;
  background-color: transparent;">
    <div class="row">
      <div class="col px-0" style="padding-top: 10px;text-align: center;">
          <p (click)='home()' style="font-size: 18px; color: #dec074;">No</p>
      </div>
    </div>
  </button>
</div>
