<div class="row" style="padding-top: -10px;margin-top: -10px;">
    <div class="col-auto pr-0">
        <button type="button" style="margin: 0px;background-color: transparent;outline: none;border: none;color: #dec074;"  class="btn btn-link back-btn" routerLink = "/bookingvenuehome">
            <i class="bi bi-arrow-left"></i>
        </button>
    </div>
    <div class="col text-center align-self-center px-0">
        <h2 style="color: #dec074;margin: 0px;"> {{outlet['shopname']}} </h2>
    </div>
    <div class="col-auto align-self-center">
        <a routerLink="/home" class="btn btn-link" style="margin: 0px;background-color: transparent;outline: none;border: none;color: #dec074;" >
            <i class="bi bi-house"></i>
        </a>
        <a class="btn btn-link" style="margin: 0px;background-color: transparent;outline: none;border: none;color: #dec074;" (click) ="acc()">
            <i class="bi bi-person"></i>
        </a>
    </div>
</div>
<br>

<!-- Cafe Images and titles -->
<div class="row h-100">
    <div class="col-12 position-relative px-0 mb-4">
        <div class="row mb-4">
            <div class="col-12">
                <figure class="card-img-top overflow-hidden mb-0">
                     <img src="data:{{imagetypeArr}};base64,{{ image1arr}}" style="height: 250px; width: 100%;object-fit: fill;">
                 </figure> 
             </div>
        </div>
        
        <div class="container-fluid" style="height: fit-content;">
            <div style="border-bottom: 6px solid gray; width: 30%; margin: auto"></div>
            <div class="col-12 mb-4" style="padding-left:15px;padding-right: 15px;">
                <br>
                <h2 style="color: #dec074; font-size: 25px;">{{outlet['shopname']}}</h2>
                <h4 class="mb-1" style="color: white;">{{outlet['address']}}</h4>
                <br>
                <p class="small mb-2" style="color: white;">
                        {{storereview['length']}} Reviews
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="small">                        
                        <i class="bi bi-star-fill" style="color: #dec074;"></i> {{outlet['avgrating'] |number : '1.1-1'}}
                    </span>
                    <button mat-button (click)="location()"
                    style="float: right;outline: none;border: none;background-color: transparent;color: grey;">
                        <span style="float: right;">
                            <i class="bi bi-geo-alt" style="color: white;"></i>
                            <span style="color: white;">&nbsp;&nbsp;Take me there</span>
                        </span>
                    </button>

                    <br>
                    <span class="small" style="color: grey;">
                        <a style="text-decoration:none; color:#dec074;" (click)='go()'>See details
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </span>                    
                </p>
                <br>
                <!-- Descriptions -->
                <div class="row mb-4">
                    <div class="col-12">
                        <h3 style="color: #dec074;">Description</h3>
                        <p class="mb-1" style="color: white;">{{outlet['description']}}</p>
                    </div>                                       
                </div>

                <div class="row mb-2">
                    <div class="col-12">
                        <h4 style="color: #dec074;">Operation Hours:<br>                            
                        <span style="color: white;" class = "mb-1">{{outlet['operatehrsstart']}} - {{outlet['operatehrsend']}} ({{outlet['operateday1']}} - {{outlet['operateday2']}})</span></h4>
                    </div>                                       
                </div>

                <div class="row" style="padding-bottom: 20px;">
                    <div class="col">
                        <div class="row">
                            <div class="col-auto">
                                <figure class="avatar avatar-80 rounded-circle" style="border: 1px solid #dec074;">
                                    <img src="data:{{ imagetypeArr }};base64,{{ image1arr}}" alt="" style="object-fit: cover;height: 100px;">
                                </figure>
                                <span class="small" style="color: white;"> &nbsp; {{outlet['shopname']}}</span>
                            </div>

                            <div class="col align-self-center text-end">
                                <button class="call"
                                mat-button data-bs-toggle="modal" data-bs-target="#taskmodalsuccess"
                                style="font-size: 16px;">Call</button>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- Buttons -->
                <div class="row mb-4">
                    <div class="col-15 d-grid">
                        <a (click)="open(outlet)" class="btn" style="font-size: 15px;"> Book Now</a>
                    </div>
                </div>
                <br><br>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="taskmodalsuccess" tabindex="-1" aria-labelledby="taskmodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" style="width: 80%;margin: auto;">
        <div class="modal-content border-0" 
        style="background-color: #2c2c2c; height: auto !important;">
            <div class="modal-body">                
            
            <h2 style="color: #dec074;font-size: 16px;">{{outlet['shopname']}}</h2>
            
            <button style="width: 100%;padding: 5px;outline: none;border: 2px solid #dec074;
            background-color: transparent;">
                <div class="row" (click) = "whatsapp()">
                <div class="col-auto align-self-center">
                    <i class="bi bi-whatsapp text-success" style="font-size: 20px;"></i>&nbsp;&nbsp;
                </div>
                <div class="col px-0" style="padding-top: 10px;text-align: left;">
                    <p style="font-size: 18px; color: #dec074;">{{outlet['whatsapp']}}</p>          
                </div>
                </div>
            </button>

            <button style="width: 100%;margin-top: 10px; padding: 5px;outline: none;border: 2px solid #dec074;
            background-color: transparent;">
                <div class="row">
                <div class="col-auto align-self-center">
                    <i class="bi bi-envelope text-primary" style="font-size: 20px;"></i>&nbsp;&nbsp;
                </div>
                <div class="col px-0" style="padding-top: 10px;text-align: left;">
                    <a href ="mailto:{{outlet['email']}}" data-rel="external" style="text-decoration: none;">
                    <p style="font-size: 18px; color: #dec074;word-break: break-all;">{{outlet['email']}}</p>
                    </a>
                </div>
                </div>
            </button>

            <button style="width: 100%;margin-top: 10px; padding: 5px;outline: none;border: 2px solid #dec074;
            background-color: transparent;">
                <div class="row">
                    <div class="col-auto align-self-center">
                        <i class="bi bi-telephone" style="font-size: 20px;color: #dec074;"></i>&nbsp;&nbsp;
                    </div>
                    <div class="col px-0" style="padding-top: 10px;text-align: left;">
                        <a href ="tel:{{outlet['phone']}}" data-rel="external" style="text-decoration: none;">
                        <p style="font-size: 18px; color: #dec074;">{{outlet['phone']}}</p></a>
                    </div>
                </div>
            </button>
            <br><br>
            <button
            style="font-size: 20px;background-color: #dec074;opacity: 100%;width: 100%; padding:10px"
            type="button" data-bs-dismiss="modal" aria-label="Close">Close</button>            
            </div>
        </div>
    </div>
</div>
