<!-- Ordered Items -->
<div class="row mb-4">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card shadow-sm mb-3">
            <a routerLink="/orderdetail" class="card-body">
                <div class="row gx-3">
                    <div class="col-auto">
                        <div class="avatar avatar-60 rounded coverimg" style="background-image:url('assets/img/product1.jpg')">
                            <img src="assets/img/product1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col align-self-center">
                        <h6>Bag Silver Black</h6>
                        <p class="small">
                            <span class="text-success">Arrival on April 24</span>
                            <span class="float-end"><strong>$ 150</strong></span>
                        </p>
                    </div>
                    <div class="col-auto align-self-center">
                        <i class="text-muted bi bi-chevron-right"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="card shadow-sm mb-3">
            <a routerLink="/orderdetail" class="card-body">
                <div class="row gx-3">
                    <div class="col-auto">
                        <div class="avatar avatar-60 rounded coverimg" style="background-image:url('assets/img/product2.jpg')">
                            <img src="assets/img/product2.jpg" alt="">
                        </div>
                    </div>
                    <div class="col align-self-center">
                        <h6>Raybans Sunglasses</h6>
                        <p class="small">
                            <span class="text-muted">Delivered on April 12</span>
                            <span class="float-end"><strong>$ 150</strong></span>
                        </p>
                    </div>
                    <div class="col-auto align-self-center">
                        <i class="text-muted bi bi-chevron-right"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="card shadow-sm mb-3">
            <a routerLink="/orderdetail" class="card-body">
                <div class="row gx-3">
                    <div class="col-auto">
                        <div class="avatar avatar-60 rounded coverimg" style="background-image:url('assets/img/product3.jpg')">
                            <img src="assets/img/product3.jpg" alt="">
                        </div>
                    </div>
                    <div class="col align-self-center">
                        <h6>Boots Lives</h6>
                        <p class="small">
                            <span class="text-muted">Delivered on April 10</span>
                            <span class="float-end"><strong>$ 210</strong></span>
                        </p>
                    </div>
                    <div class="col-auto align-self-center">
                        <i class="text-muted bi bi-chevron-right"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>