.row
{
    --bs-gutter-x:0rem;
}

::ng-deep .container-fluid
{
    padding-right:var(--bs-gutter-x, 0rem) !important;
    padding-left:var(--bs-gutter-x, 0rem) !important;
}

button[type = "button"]
{
  border-radius: 10px;
  padding: 8px;
  width: 140px;
  border: none;
  color: black;
  font-size: 14px;
}

p .font
{
    color: white;
}

//rounded  
.progress-wrapper {
    position: relative;
    margin: 20px auto;
    font-size: 40px;
  }
  
  .current {
    position: absolute;
    color: white;
    font-weight: 100;
    line-height: 1;
  }
  
  round-progress {
    margin: auto;
  }

  .bookmarkRibbonclaimed {
    width: 100px;
    height: 0;
    border-bottom: 20px solid #AAFF00;
    border-top: 20px solid #AAFF00;
    border-right: 15px solid transparent;
    float: left;
    margin-bottom: 20px;
    font-size: 20px;
    position: absolute;
    left: 0px;
    top: 20px;
}

.bookmarkRibbonavailable {
  width: 100px;
  height: 0;
  border-bottom: 20px solid #dec074;
  border-top: 20px solid #dec074;
  border-right: 15px solid transparent;
  float: left;
  margin-bottom: 20px;
  font-size: 20px;
  position: absolute;
  left: 0px;
  top: 20px;
}