<!-- Addresses -->
<div class="row mb-4">
    <div class="col">
        <p class="mb-2">Deliver to: Maxartkiller Inc.</p>
        <p class="text-muted">265 B, Arohhi Apprtment, Bhuvaladi baug, Raipur,<br>Rajasthan 652841 (IN)</p>
    </div>
    <div class="col-auto">
        <a routerLink="/addresses" class="btn-link small"><i class="bi bi-recycle"></i> Change</a>
    </div>
</div>

<!-- Product price information -->
<div class="row mb-2">
    <div class="col-12 col-md-6 col-lg-4 mx-auto">
        <h6 class="my-1">Price Details</h6>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12 col-md-6 col-lg-4 mx-auto">
        <p class="text-muted">Price <span class="float-end">$ 720</span></p>
        <p class="text-muted">Discount <span class="float-end">-$ 100</span></p>
        <p class="text-muted mb-4">Shipping Charge <span class="float-end">$ 0</span></p>
        <h6>Total Amount <span class="float-end">$ 620</span></h6>
    </div>
</div>

<!-- Product price information -->
<div class="row mb-3">
    <div class="col-12 col-md-6 col-lg-4 mx-auto">
        <h6 class="my-1">Price Mode</h6>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12 col-md-6 col-lg-4 mx-auto">
        <div class="form-check mb-3">
            <input class="form-check-input" type="radio" name="payment" id="payment1" checked>
            <label class="form-check-label text-muted" for="payment1">
                UPI
            </label>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="radio" name="payment" id="payment2" checked>
            <label class="form-check-label text-muted" for="payment2">
                Net Banking
            </label>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="radio" name="payment" id="payment3" checked>
            <label class="form-check-label text-muted" for="payment3">
                Credit or Debit card
            </label>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="radio" name="payment" id="payment4" checked>
            <label class="form-check-label text-muted" for="payment4">
                Cash on Delivery
            </label>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-12 col-md-6 col-lg-4 mx-auto d-grid">
        <a routerLink="/shopthankyou" class="btn btn-primary shadow">
            <i class="bi bi-credit-card mx-1"></i>Proceed
        </a>
    </div>
</div>