<!-- Addresses -->
<div class="row mb-4">
    <div class="col">
        <p class="mb-2">Deliver to: Maxartkiller Inc.</p>
        <p class="text-muted">265 B, Arohhi Apprtment, Bhuvaladi baug, Raipur,<br>Rajasthan 652841 (IN)</p>
    </div>
    <div class="col-auto">
        <a routerLink="/addresses" class="btn-link small"><i class="bi bi-recycle"></i> Change</a>
    </div>
</div>

<!-- Ordered Items -->
<div class="row mb-4">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card shadow-sm mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <div class="avatar avatar-60 rounded coverimg" style="background-image:url('assets/img/product1.jpg')">
                            <img src="assets/img/product1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col align-self-center">
                        <h6>Bag Silver Black</h6>
                        <p class="small">
                            <span class="fw-bold">$ 150</span>
                            <a class="btn-sm btn-link text-danger">Remove</a>
                        </p>
                    </div>
                    <div class="col-2 flex-column text-center number-incrementer">
                        <button class="btn btn-sm btn-link">-</button>
                        <p class="number-input m-0 small">1</p>
                        <button class="btn btn-sm btn-link">+</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-success alert-sm d-none" role="alert">
            <i class="bi bi-tick mx-1"></i>Product has been removed from cart
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="card shadow-sm mb-3">
            <div class="card-body">
                <div class="row gx-3">
                    <div class="col-auto">
                        <div class="avatar avatar-60 rounded coverimg" style="background-image:url('assets/img/product2.jpg')">
                            <img src="assets/img/product2.jpg" alt="">
                        </div>
                    </div>
                    <div class="col align-self-center">
                        <h6>Raybans Sunglasses</h6>
                        <p class="small">
                            <span class="fw-bold">$ 180</span>
                            <a class="btn-sm btn-link text-danger">Remove</a>
                        </p>
                    </div>
                    <div class="col-2 flex-column text-center number-incrementer">
                        <button class="btn btn-sm btn-link">-</button>
                        <p class="number-input m-0 small">1</p>
                        <button class="btn btn-sm btn-link">+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="card shadow-sm mb-3">
            <div class="card-body">
                <div class="row gx-3">
                    <div class="col-auto">
                        <div class="avatar avatar-60 rounded coverimg" style="background-image:url('assets/img/product3.jpg')">
                            <img src="assets/img/product3.jpg" alt="">
                        </div>
                    </div>
                    <div class="col align-self-center">
                        <h6>Boots Lives</h6>
                        <p class="small">
                            <span class="fw-bold">$ 210</span>
                            <a class="btn-sm btn-link text-danger">Remove</a>
                        </p>
                    </div>
                    <div class="col-2 flex-column text-center number-incrementer">
                        <button class="btn btn-sm btn-link">-</button>
                        <p class="number-input m-0 small">1</p>
                        <button class="btn btn-sm btn-link">+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Coupon code -->
<div class="row mb-3">
    <div class="col-12 col-md-6 col-lg-4 mx-auto">
        <h6 class="my-1">Apply Coupon Code</h6>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12 col-md-6 col-lg-4 mx-auto">
        <div class="row">
            <div class="col">
                <div class="form-group form-floating">
                    <input type="text" class="form-control" value="FREEDEL100" id="couponcode" placeholder="Enter Coupon Code">
                    <label class="form-control-label" for="couponcode">Enter Coupon Code</label>
                </div>
            </div>
            <div class="col-auto">
                <button class="btn btn-primary shadow h-100 px-3"><i class="bi bi-arrow-right fs-2 "></i></button>
            </div>
        </div>

        <div class="alert alert-success mt-3 mb-0" role="alert">
            <div class="row gx-3">
                <div class="col-auto align-self-center">
                    <i class="bi bi-check-circle fs-1"></i>
                </div>
                <div class="col text-dark">
                    <h6>Congratulations!</h6>
                    <p class="text-muted small">You have successfully applied "FREEDEL100" free delivery
                        coupon and updated price total amount as per below</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Product price information -->
<div class="row mb-2">
    <div class="col-12 col-md-6 col-lg-4 mx-auto">
        <h6 class="my-1">Price Details</h6>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12 col-md-6 col-lg-4 mx-auto">
        <p class="text-muted">Price <span class="float-end">$ 720</span></p>
        <p class="text-muted">Discount <span class="float-end">-$ 100</span></p>
        <p class="text-muted mb-4">Shipping Charge <span class="float-end">$ 0</span></p>
        <h6>Total Amount <span class="float-end">$ 620</span></h6>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12 col-md-6 col-lg-4 mx-auto d-grid">
        <a routerLink="/payment" class="btn btn-primary shadow"><i class="bi bi-credit-card mx-1"></i>
            Proceed to Payment</a>
    </div>
</div>