<div class="referral" style="margin-right: 10px;margin-left: 10px;">
    <div class="row" style="padding-right: 0;padding-left: 0;">
        <div class="col-auto pr-0">
            <button type="button" style="margin: 0px;background-color: transparent;outline: none;border: none;color: #dec074;width: 0;"  
            class="btn btn-link back-btn" routerLink="/home">
                <i class="bi bi-arrow-left"></i>
            </button>
        </div>
        <div class="col text-center align-self-center px-0">
            <h2 style="color: #dec074;margin: 0px;"> Referral Reward </h2>
        </div>
        <div class="col-auto align-self-center">
            <a routerLink="/home" class="btn btn-link" style="margin: 0px;background-color: transparent;outline: none;border: none;color: #dec074;" >
                <i class="bi bi-house"></i>
            </a>
            <a class="btn btn-link" style="margin: 0px;background-color: transparent;outline: none;border: none;color: #dec074;" (click) ="acc()">
                <i class="bi bi-person"></i>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 align-self-center text-center" style="padding-top:20px;">
            <p style="font-size: 16px;color: #dec074;line-height: 1.5;">
                You and your friend will receive the credits as soon as 
                the invitees download the app and enters your referral code.
            </p>
        </div>
        <div class="col-12 align-self-center text-center" style="padding-top: 20px;">
            <ngx-qrcode
            [elementType]="elementType"
            [errorCorrectionLevel]="correctionLevel"
            [value]="value"
            [width]=300
            cssClass="coolQRCode"></ngx-qrcode>
        </div>
        <div class="col-12 align-self-center text-center" style="padding-top: 20px;">
            <h2 style="font-size: 25px; font-weight: normal; color: white;">Scan me !</h2>
            <input [(ngModel)]="value" style="padding:10px;font-size:16px;width: 100%;text-align: center;">        
        </div>

    </div> 
</div>
