p, h4 {
    color: #636060;
}
  
.row
{
    --bs-gutter-x:0rem;
}

::ng-deep .container-fluid
{
    padding-right:var(--bs-gutter-x, 0rem) !important;
    padding-left:var(--bs-gutter-x, 0rem) !important;
}

.btn {
    outline: none;
    background-color: #dec074;
    border: 1px solid #dec074;
    color: black;
    font-weight: 550;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-top: 60px;
    cursor: pointer;
    transition: 0.5s;
}

.container-fluid {
    background:transparent;
    padding-top: 20px;
}



// .example-viewport {
//     height: 200px;
//     width: 360px;
//     border: 1px solid black;
//   }
  
//   .example-dt {
//     height: 30px;
//     font-weight: bold;
//   }
  
//   .example-dd {
//     height: 30px;
//   }