<!-- <div class="row">
    <div class="col-auto pr-0">
        <button type="button" class="btn btn-link back-btn" (click)="backnav()">
            <i class="bi bi-arrow-left"></i>
        </button>
    </div>
    <div class="col text-center align-self-center px-0">
        <div class="form-group search-header">
            <input class="form-control border-0" placeholder="Search">
            <button type="button" class="btn btn-link tooltip-btn">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>
    <div class="col-auto align-self-center">
        <a routerLink="/home" class="btn btn-link">
            <i class="bi bi-house"></i>
        </a>
        <a (click) ="open()" class="btn btn-link  ">
            <i class="bi bi-person"></i>
        </a>
    </div>
</div> -->