.bi
{
    color: #dec074;
    font-size: 18px;
}
    .date-container {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        width: 10px;
        border: none;
        font-size: 13px;
        background-color: transparent;   
      }

      form 
      {
          background-color: #2c2c2c;
          border-radius: 10px;
          color: white;
          padding-bottom: 10px;
          font-size: 15px;
          font-weight: lighter;          
      }
      
      .input-container {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        width: 100%;
        margin-bottom: 15px;
        margin: 0px;
        border:none;
        padding: top 2px;
      }
      
      .icon {
        padding: 10px;
        padding-left:0;
        color: grey;
        min-width: 20px;
        text-align: left;
        border-bottom: 1px solid grey;
      }
      
      .input-field {
        width: 100%;
        padding: 10px;
        padding-left:0;
        outline: white;
        border:none;
        background: transparent;
        border-bottom: 1px solid grey;
      }
      
      input
      {
          color: white;
      }
 
      button[type = "submit"] {
        background-color: transparent;
        border: 2px solid #dec074;
        padding: 14px 20px;
        margin: 8px 0;
        cursor: pointer;
        width: 90%;
        font-size: 15px;
        margin-top: 20px;
        border-radius: 5px;
        margin-left: 20px;
        margin-right: 20px;
        color: #dec074;
      }
      
      button:hover {
        opacity: 0.8;
      }

      mat-form-field button
      {
        background-color: #dec074;
        color: black;
        border: none;
      }
    
      mat-form-field
      {
        text-align: center;
        font-size: 16px;
        width: 140%;
      }
      ::ng-deep .mat-focused .mat-form-field-label {
        /*change color of label*/
        color: white !important;
       }
      ::ng-deep.mat-form-field-ripple {
        /*change color of underline when focused*/
        background-color: #dec074 !important;;
       }
    
       ::ng-deep.mat-form-field-underline {
        /*change color of underline*/
        background-color: grey !important;
      } 
    
       .column2 {
        padding: 0px;
      }
      
      .column-right
      {
        float: right;
      }
    
      .column-left
      {
          float: left;
      }