.row
{
    --bs-gutter-x:0rem;
}

::ng-deep .container-fluid
{
    padding-right:var(--bs-gutter-x, 0rem) !important;
    padding-left:var(--bs-gutter-x, 0rem) !important;
}

::ng-deep .mat-horizontal-stepper-header
{
  -webkit-text-fill-color: white;
  font-size: 20px;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #dec074; 
  -webkit-text-fill-color: black;
}
::ng-deep .mat-step-header .mat-step-icon {
  background-color: #dec074; 
  -webkit-text-fill-color: black;
}

::ng-deep .mat-step-label-selected
{
  font-size: 18px;
}
.mat-form-field {
  margin-top: 16px;
  width: 100%;
}
.mat-form-field .mat-icon
{
  color: #dec074;
}
  
.mat-form-field input
{
  font-size: 16px;
  padding-left: 10px;
  padding-bottom: 5px;  
  padding-top: 10px; 
  color: white;
}
.mat-form-field mat-label
{
  font-size: 18px;
  padding-left: 10px; 
  color: white;   
}

.mat-form-field ::placeholder
{
  color: grey;
}

button
{
  color: #dec074;
  background-color: transparent;
  border: 1px solid #dec074;
  font-size: 16px;
}
button[type = "submit"]
{
  color: #dec074;
  background-color: transparent;
  width: 100%;
  padding: 12px 30px;
  border: 1px solid #dec074;
  font-size: 16px;
}

::ng-deep .mat-focused .mat-form-field-label {  
  color: white !important;
}
::ng-deep.mat-form-field-ripple {  
  background-color: #dec074 !important;;
  display: none;
}
  
.example-full-width {
  min-width: 140px;
  max-width: 175px;
}

.button {
  height: 80px;
  outline: none;
  background-color: transparent;
  border: 1px solid #dec074;
  color: #dec074;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
  margin: -15px 4px;
  font-size: 12px;
  padding: 12px 12px 12px;
  width: 110px;
  min-width: 95px;
  max-width: 110px;
  display: inline-block;
}

.button:hover {
  color: white;
  background-color: #dec074;
}

.column2 {
  padding: 0px;
}

.column-right
{
  float: right;
}

.column-left
{
  float: left;
}

.wrapper {
  background: rgb(94, 94, 94);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 7px 7px 12px rgba(0,0,0,0.5);
}

.wrapper input
{
  padding-left: 20px;
}

.wrapper form {
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed #dec074;
}

form :where(i, p) {
  color: #dec074;
}

form i {
  font-size: 50px;
}

form p {
  margin-top: 15px;
  font-size: 16px;
}

section .row {
  margin-bottom: 10px;
  background: rgb(63, 62, 62);
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .row i {
  color: #dec074;
  font-size: 30px;
}

section .details span {
  font-size: 14px;
}

.progress-area .row .content {
  width: 100%;
  margin-left: 15px;
}

.progress-area .details {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}

.progress-area .content .progress-bar {
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 30px;
}

.content .progress-bar .progress {
  height: 100%;
  width: 0%;
  background: #dec074;
  border-radius: inherit;
}

.uploaded-area {
  max-height: 232px;
  overflow-y: scroll;
}

.uploaded-area .onprogress {
  max-height: 150px;
}

.uploaded-area::-webkit-scrollbar {
  width: 0px;
}

.uploaded-area .row .content {
  display: flex;
  align-items: center;
}

.uploaded-area .row .details {
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}

.uploaded-area .row .details .size {
  color: #404040;
  font-size: 11px;
}

.uploaded-area i .fa-check {
  font-size: 16px;
}