<div class="row h-100">
    <div class="col-10 col-md-6 col-lg-5 col-xl-3 mx-auto mt-auto pt-4 text-center mb-100px ">
        <img src="assets/img/logox.png" style="width:100%; height:auto; max-width:150px;"/>
        
        <h2 style="padding-top: 10px;">Register to continue</h2>
        <form class="d-grid gap-2">
            <div class="form-group form-floating is-valid">
                <div class="column2">
                    <div class="column-left">
                        <div class="phoneCode">
                            <input type="email" 
                            class="form-control-sm" placeholder="Email" 
                            name="email" [(ngModel)]='registerObj.email' [pattern]="emailPattern" #email="ngModel"
                            style="width: 170px;">
                        </div>
                        <div *ngIf="email.errors?.pattern" style="color:red;">
                            *Enter a valid email.
                        </div>
                    </div>
                    
                    <div class="column-right">
                        <div class = "subtitle">
                            <button type="submit" class="submitCode" (click)='register()' style="width: 140px; border: 2px solid  #dec074;">Send Verification Code</button>
                        </div>
                    </div>
                    <p class="validation">{{ validErr['email'] }}</p>
                </div>                
            </div> 
        </form>
        
        <p style="margin-top:40px;">Already have account?<a routerLink="../login"> LOGIN HERE</a></p>
    </div>
</div>